extends layout

block content
  header
  // main image 
  #carouselExampleCaptions.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#carouselExampleCaptions' data-slide-to='0')
    li(data-target='#carouselExampleCaptions' data-slide-to='1')
    li(data-target='#carouselExampleCaptions' data-slide-to='2')
  .carousel-inner
    .carousel-item.active
      img.d-block.w-100(src='/images/couple-banner.jpg' alt='image1')
      .carousel-caption.d-none.d-md-block
        h1 Go Where You Want With Whoever You Want
        p A bicycle available all the time for you

  .row.row-cols-1.row-cols-md-3
    .col.mb-4
      .card.h-100
        .card-img-top.div(id="mapid1")
        .card-body
          h5.card-title Cartagena de Indias - Colombia
          p.card-text
            | Cartagena is a port city on the Caribbean coast of Colombia. 
            | By the sea is the walled Old City, which was founded in the 16th century, 
            | with squares, cobblestone streets, and colorful colonial buildings. With a tropical climate, 
            | the city is also a popular destination for its beaches. Barú Island, with its white sand beaches and palm trees, 
            | and the Rosario Islands, famous for their coral reefs, can be reached by boat.
    .col.mb-4
      .card.h-100
        .card-img-top.d-flex(id="mapid2")
        .card-body
          h5.card-title Santa Marta - Colombia
          p.card-text
            | Santa Marta is a city located on the Caribbean Sea, in the Magdalena department in northern Colombia. 
            | It is a busy port that was also the first Spanish settlement in Colombia. 
            | It is the access route for excursions in the Tayrona National 
            | Natural Park and for guided tours of several days through the archaeological site of the Lost City (Teyuna) 
            | in the Sierra Nevada of the Santa Marta mountains.
    .col.mb-4
      .card.h-100
        .card-img-top.div(id="mapid3")
        .card-body
          h5.card-title Barranquilla - Colombia
          p.card-text
            | Barranquilla is the capital of the Atlántico department of Colombia and is an overflowing marine port, 
            | bordered by the Magdalena River. The city is known for its massive Carnival, which brings together performers 
            | in extravagant costumes, elaborate cars, and cumbia music. In the posh El Prado neighborhood, 
            | the Museo Romántico displays artifacts from past festivals and exhibits by famous Colombians, 
            | such as writer Gabriel García Márquez.
    

